<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  
  <appSettings>
    <add key="Theme" value="HotRed" />
    <add key="IntroVideoPath" value="D:\MEDIA\man lafanga bada.mp4" />
  </appSettings>
  
</configuration>
