<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="conciergedb" connectionString="metadata=res://*/ConciergeModel.csdl|res://*/ConciergeModel.ssdl|res://*/ConciergeModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;User Id=root;database=conciergedb&quot;" providerName="System.Data.EntityClient" />
    <add name="conciergedbEntities" connectionString="metadata=res://*/Concierge.csdl|res://*/Concierge.ssdl|res://*/Concierge.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;User Id=root;database=conciergedb&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>