<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="DebugKey" value="9118ed80be3e4a9ea5d206c66a09766c" />
        <add key="CodeRun.WebServer.Configuration.DebugClient" value="true" />
        <add key="Interceptors" value="CodeRun.Debug.LocalInterceptor, CodeRun.Debugging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=b83f527cfd9d0f78" />
        <add key="CodeRun.WebServer.Configuration.NonDefaultScriptsBaseUrl"
            value="http://gac.coderun.com/2009-06-06--03-57-58" />
    </appSettings>
    <system.web>
        <compilation>
            <assemblies>
                <add assembly="CodeRun.Build, Version=1.0.0.0, Culture=neutral, PublicKeyToken=b83f527cfd9d0f78" />
                <add assembly="CodeRun.Debugging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=b83f527cfd9d0f78" />
            </assemblies>
        </compilation>
        <httpHandlers>
            <add path="DebuggerService.ashx" verb="GET, POST" type="CodeRun.Debug3.DebuggerService, CodeRun.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=B83F527CFD9D0F78"
                validate="true" />
        </httpHandlers>
        <httpModules>
            <add name="CodeRun.WebServer.HttpModule" type="CodeRun.WebServer.HttpModule, CodeRun.WebServer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=B83F527CFD9D0F78" />
        </httpModules>
        <httpRuntime executionTimeout="900" />
        <sessionState timeout="15" />
    </system.web>
</configuration>